@model RetailKing.Models.MailingService

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <h4 class="display-field">@Model.Name</h4>
            <p>
                @Model.Description
            </p>
        </div>
    </div>
</div>