@model RetailKing.Models.YomoneyResponse

@{

}


    setPayment('','','@ViewData["Type"]')

<div class="col-md-12" style="width:510px">
    <h2 align="center">
        <div class="col-md-4"></div>
        <div class="col-md-4"> @Model.Description</div>
        <div class="col-md-4"></div>
    </h2>
</div>

