<div class="container_12">     
        <div class="col-md-12 floatleft">
          
              <div id="Btns" style="margin-top:10px; width: 100%;">
               <div onclick="GetAuthenticate('voidline')" class="col-md-12" style="margin-top:10px; height:65px; background-color: #FF7514; color: White; font-size:32px; vertical-align: middle; text-align: center;cursor: pointer" id ="7" >Void Line</div> 
               <div onclick="GetAuthenticate('voidsale')" class="col-md-12"  style="margin-top:10px;  height:65px; background-color: #67217A; color: White; font-size:32px; vertical-align: middle; text-align: center;cursor: pointer" id="8">Void Sale</div>
             </div>
         </div> 
       </div> 
    