@{
    ViewBag.Title = "Tender";
}
<div class="Tender">
      <div class="container_12">     
        <div class="grid_12">
          <div class="grid_6 floatleft">
          <input type="text" id="totalq" style="width : 98%; height: 25px" />
              <div id="Btns" style=" margin-top:10px; width: 100%; height:400px;  ">
               <div class="grid_4" style="margin-top:10px; height:65px; background-color: #67217A; color: White; font-size:32px; vertical-align: middle; text-align: center;cursor: pointer" id ="7" onclick="onNumber('7')">7</div> 
               <div class="grid_4"  style="margin-top:10px;  height:65px; background-color: #67217A; color: White; font-size:32px; vertical-align: middle; text-align: center;cursor: pointer" id="8" onclick="onNumber('8')">8</div>
                <div class="grid_4"  style="margin-top:10px;  height:65px; background-color: #67217A; color: White;font-size:32px; vertical-align: middle; text-align: center;cursor: pointer" id="9" onclick="onNumber('9')">9</div>
                 <div class="grid_4"  style="margin-top:10px;  height:65px; background-color: #67217A; color: White; font-size:32px; vertical-align: middle; text-align: center; cursor: pointer" id ="4" onclick="onNumber('4')">4</div>
                 <div class="grid_4" style="margin-top:10px; height:65px; background-color: #67217A; color: White; font-size:32px; vertical-align: middle; text-align: center; cursor: pointer" id="5" onclick="onNumber('5')">5</div> 
               <div class="grid_4"  style="margin-top:10px;  height:65px; background-color: #67217A; color: White; font-size:32px; vertical-align: middle; text-align: center; cursor: pointer" id="6"  onclick="onNumber('6')">6</div>
                <div class="grid_4"  style="margin-top:10px;  height:65px; background-color: #67217A; color: White; font-size:32px; vertical-align: middle; text-align: center; cursor: pointer" id="1" onclick="onNumber('1')">1</div>
                 <div class="grid_4"  style="margin-top:10px;  height:65px; background-color: #67217A; color: White; font-size:32px; vertical-align: middle; text-align: center; cursor: pointer" id="2" onclick="onNumber('2')">2</div>
                 <div class="grid_4" style="margin-top:10px; height:65px; background-color: #67217A; color: White; font-size:32px; vertical-align: middle; text-align: center; cursor: pointer" id="3" onclick="onNumber('3')">3</div> 
               <div class="grid_4"  style="margin-top:10px;  height:65px; background-color: #67217A; color: White; font-size:32px; vertical-align: middle; text-align: center; cursor: pointer" id="." onclick="onNumber('.')">.</div>
                <div class="grid_4"  style="margin-top:10px;  height:65px; background-color: #67217A; color: White; font-size:32px; vertical-align: middle; text-align: center; cursor: pointer" id= "0" onclick="onNumber('0')">0</div>
                 <div class="grid_4"  style="margin-top:10px;  height:65px; background-color: #67217A; color: White; font-size:32px; vertical-align: middle; text-align: center; font-weight: bold; cursor: pointer" id="Enter"  onclick="CommitProduct()">Enter</div>        
          </div>
        </div> 
        </div> 
     </div>
 </div>

